body {
	font-family: 'Arial';
	margin: 0;
    padding: 0;
}
h1, 
h2 {
	text-align: center;
}
h1 {
    margin: 0;
    padding: 25px;
	background-color: #1c8ed0;
	color: white;
}
#gallery {
	width: 550px;
	margin: auto;
	padding: 4px;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 4px;
	-webkit-column-gap: 4px;
	column-gap: 4px;
	border: 4px solid black;
}
#gallery > img {
	width: 100% !important;
	height: auto !important;
}
p.small {
	font-size: 11px;
}
footer {
	margin-top: 25px;
	padding: 25px;
	background-color: #1c8ed0;
	color: white;
}
footer p {
	text-align: center;
}
footer a {
	color: white;
}
